@font-face {
  font-family: "inter-regular";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Regular.woff");
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-SemiBold.woff");
}

@font-face {
  font-family: "inter-medium";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Medium.woff");
}

@font-face {
  font-family: "inter-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Bold.woff");
}

@font-face {
  font-family: "jet-brains-regular";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/JetBrainsMono-Regular.woff");
}

@font-face {
  font-family: "jet-brains-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/JetBrainsMono-Bold.woff");
}

.slate-primary-button {
  font-size: var(--typescale-lvl0);
  letter-spacing: -0.011rem;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-blue);
  font-family: var(--font-family-semiBold);
  color: var(--color-white);
  margin: 0 16px 16px 0;
}

.slate-primary-button.full {
  width: 100%;
}

.slate-primary-button:hover {
  background-color: var(--color-deepblue);
}

.slate-primary-button.disabled {
  opacity: 0.5;
  cursor: default;
}

.slate-secondary-button {
  font-size: var(--typescale-lvl0);
  letter-spacing: -0.011rem;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-bgGrayLight);
  font-family: var(--font-family-semiBold);
  color: var(--color-textBlack);
  transition: background-color 200ms ease-in-out;
}

.slate-secondary-button:hover {
  background-color: var(--color-bgGray);
  transition: background-color 200ms ease-in-out;
}

.slate-loaderspinner {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  border-top-color: var(--color-bgGrayLight);
  animation: slate-client-animation-spin 1s ease-in-out infinite;
}

@keyframes slate-client-animation-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
