@font-face {
  font-family: "inter-regular";
  src: url("https://slate.textile.io/ipfs/bafkreic3hkcuwvrmf6trweqcjp62valsfjh3zvwacikoreynakgw67wrvy");
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("https://slate.textile.io/ipfs/bafkreiaezvuz6wawoqyntfl4gbprol3e7majovgof3uxvhilvd2pgk4w54");
}

@font-face {
  font-family: "inter-medium";
  src: url("https://slate.textile.io/ipfs/bafkreiapyxmqjwoowqpek2cjocouzxoalwlzwwbv3dscug3e5l2ok7xmqe");
}

@font-face {
  font-family: "inter-bold";
  src: url("https://slate.textile.io/ipfs/bafkreidfoszxf46lxxojv4fc6qgixz5zdjiess2zyhennjd62lnjwa5dda");
}

@font-face {
  font-family: "jet-brains-regular";
  src: url("https://slate.textile.io/ipfs/bafkreiabqv4534pnjhohcc2aclsgbp2twugldrlzg6wqdehajerrcwgu7e");
}

@font-face {
  font-family: "jet-brains-bold";
  src: url("https://slate.textile.io/ipfs/bafkreiejfxvbejf4a56x5tdo6w3n2kkrynwniv65rkkmrozxujroq6v4am");
}

html,
body {
  background: var(--color-white);
  color: var(--color-textBlack);
  font-size: var(--typescale-lvl1);
  font-family: var(--font-family-text);
  line-height: 1.5;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 100%;
  margin: 0;
}

button {
  font-size: var(--typescale-lvl0);
  letter-spacing: -0.011rem;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
}

.primary-button {
  background-color: var(--color-blue);
  font-family: var(--font-family-semiBold);
  color: var(--color-white);
  margin: 0 16px 16px 0;
}

.primary-button.disabled {
  opacity: 0.5;
  cursor: default;
}

.secondary-button {
  background-color: var(--color-bgGrayLight);
  font-family: var(--font-family-semiBold);
  color: var(--color-textBlack);
  transition: background-color 200ms ease-in-out;
}

.secondary-button:hover {
  background-color: var(--color-bgGray);
  transition: background-color 200ms ease-in-out;
}

.loaderspinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  border-top-color: var(--color-bgGrayLight);
  animation: slate-client-animation-spin 1s ease-in-out infinite;
}

@keyframes slate-client-animation-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
