@import "main.css";

@font-face {
  font-family: 'Inter';
  src: url('chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Medium.ttf');
}

.slate-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  font-family: 'Inter';
  backdrop-filter: blur(6px);
  background-color: RGBA(255, 255, 255, 0.8);
  z-index: 9999999 !important;
  display: 'inline';
}

.slate-item, .slate-name {
  width: 100%;
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid var(--border);
}

.slate-item {
  color: #c3c3c4;
}

.slate-item-checked {
  color: #000 !important;
  background-color: #f8f8f8 !important;
  font-weight: 600;
}

.slate-name {
  background-color: #e5e5e5 !important;
  color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.slate-title:hover {
  cursor: default;
}

.slate-item:hover {
  transition: 0.2s;
  background-color: #f8f8f8;
  cursor: pointer;
}

.list_img {
  margin: auto;
  max-width: 100%;
  text-align: center;
  height: auto;
  cursor: pointer;
}

.slate-img-container {
  position: relative;
  margin-bottom: 16px
}

.slate-img-checkbox {
  position: absolute;
  opacity: 0.5;
  right: 20px;
  bottom: 20px;
  margin-bottom: 1px;
  transform: scale(2);
  border: none;
}

input[type=checkbox]:checked {
  opacity: 1;
  background: #000;
}

.slate-img-selected {
  border: 4px solid #f2f;
}

.slate-result-search-input {
  letter-spacing: -0.011rem;
  -webkit-appearance: none;
  height: 100%;
  background: #ebebeb;
  color: #0f0e12;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  margin-right: 8px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px 24px;
}


.slate-main-popup {
  width: 60%;
  height: 80%;
  background: transparent;
  color: #000;
  position: absolute;
  border: 0;
  margin: 2% 5%;
}

.slate-masonry {
  column-count: 6;
  column-gap: 1em;
}

.slate-masonry-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  min-height: 100px;
  min-width: 100%;
  border-radius: 4px;
  background-color: #e5e5e5;
  border: 1px solid #b2b2b2;
}

@media only screen and (min-width: 1024px) {
  .slate-masonry {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slate-masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .slate-masonry {
    column-count: 1;
  }
}

.slate-btn {
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.slate-btn:focus {
  outline: 0;
  border: 0;
}

.slate-primary {
  color: #fff;
  background-color: #0666BB;
}

.slate-primary:hover {
  background-color: #065ca8;
}

.slate-secondary {
  color: var(--darkgrey);
  background-color: #fff;
}

.slate-secondary:hover {
  color: var(--black);
  background-color: var(--foreground);
}

* {
  box-sizing: border-box;
}

.slate-full {
  width: 100%;
}

.slate-api-group {
  z-index: 99999;
  border: 2px solid #D8D8D8;
  border-radius: 4px !important;
  width: 100%
}

.slate-filter-bar {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size:18px
}
