@font-face {
  font-family: "inter-regular";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Regular.woff");
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-SemiBold.woff");
}

@font-face {
  font-family: "inter-medium";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Medium.woff");
}

@font-face {
  font-family: "inter-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/Inter-Bold.woff");
}

@font-face {
  font-family: "jet-brains-regular";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/JetBrainsMono-Regular.woff");
}

@font-face {
  font-family: "jet-brains-bold";
  src: url("chrome-extension://__MSG_@@extension_id__/app/public/fonts/JetBrainsMono-Bold.woff");
}

.slate-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0 !important;
  top: 0 !important;
  z-index: 999999999999 !important;
  overflow: hidden;
  display: block !important;
  overflow: hidden !important;
  align-items: normal !important;
  flex-direction: row !important;
  justify-content: start !important;
}

.slate-helper-text {
  color: var(--color-textGray);
  margin-bottom: 8px;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
}

.slate-helper-button {
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
  color: var(--color-textGray);
  text-decoration: none;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
  top: 0;
  left: 0;
}

.slate-helper-button.active,
.slate-helper-button:hover {
  color: var(--color-textBlack);
  transition: all 0.2s ease-in-out;
}

.slate-info {
  width: 20px;
}

.slate-helper-info {
  box-sizing: border-box;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-textBlack);
  background: var(--color-bgGrayLight);
  width: 416px;
  overflow: hidden;
  max-height: 0;
  padding: 0px 24px;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.slate-helper-info.active {
  max-height: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.slate-drawer {
  width: 25%;
  height: 100%;
  max-height: 100vh;
  color: var(--color-textBlack);
  right: 0;
  position: relative;
  padding: 24px;
  background: rgba(193, 193, 194, 0.8);
  backdrop-filter: blur(24px);
  flex-shrink: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row !important;
  justify-content: space-between;
  font-size: 16px !important;
  align-items: left !important;
  display: block !important;
  align-items: normal !important;
}

.slate-primary-button-full-one {
  font-size: 16px !important;
  letter-spacing: -0.011rem;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
  background-color: var(--color-blue);
  font-family: "inter-semi-bold", -apple-system, BlinkMacSystemFont,
    arial, sans-serif !important;
  color: var(--color-white);
  text-transform: capitalize !important;
  margin: 0 16px 16px 0;
  width: 100%;
}

.slate-primary-button-full-one:hover {
  background-color: var(--color-deepblue);
  color: var(--color-white);
}

.slate-primary-button-full-one.disabled {
  background-color: var(--color-blue) !important;
  opacity: 0.5;
  cursor: default;
}


.slate-primary-button.full {
  width: 100%;
  font-family: "inter-semiBold", -apple-system, BlinkMacSystemFont,
    arial, sans-serif !important;
}

.slate-primary-button:hover {
  background-color: var(--color-deepblue);
}

.slate-primary-button.disabled {
  opacity: 0.5;
  cursor: default;
}

#slate-page-text-container {
  display: none;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 108px 224px 0px 224px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#slate-page-text-container > * {
  color: #000;
  font-family: "inter-regular", -apple-system, BlinkMacSystemFont, arial, sans-serif;
}

#slate-page-text-container a {
  color: var(--color-deepblue);
}

#slate-page-text-container b {
  font-weight: bold;
  color: #000;
}

#slate-page-text-container ul {
  margin: 16px 0px 16px 16px;
  font-size: 16px;
  list-style-type: circle;
  font-family: "inter-regular", -apple-system, BlinkMacSystemFont, arial, sans-serif;
}

#slate-page-text-container li {
  color: #000;
}

#slate-page-text-container p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

#slate-page-text-container div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.slate-textarea {
  display:none;
  width: 100%;
  font-family: "inter-regular", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
  min-height: 160px;
  max-width: 480px;
  resize: none;
  background: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 0;
  transition: 200ms ease all;
  padding: 16px;
  box-shadow: 0 0 0 1px #ebebeb inset;
  margin: 120px 120px 48px 120px;
  ::placeholder {
    color: #b2b2b2;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b2b2b2;
  }
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #b2b2b2;
  }
}

.slate-dismiss {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.slate-icon-large {
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: var(--color-gray80);
}

.slate-icon-small {
  pointer-events: none;
  width: 16px;
  height: 16px;
  color: var(--color-gray80);
}

.slate-drawer-content {
  height: calc(100% - 50px);
  display: none;
  margin-bottom: 32px;
  overflow: hidden;
}

.slate-drawer-content.active {
  display: block !important;
}

.slate-header {
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 24px !important;
  text-align: left !important;
  margin-bottom: 36px;
}

.slate-apis {
  width: 100%;
  height: 55%;
  max-height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 24px;
  font-size: 16px !important;
  text-align: left !important;
  display: block !important;
  font-family: "inter-semi-bold", -apple-system, BlinkMacSystemFont,
    arial, sans-serif !important;
}

.slate-api {
  margin-bottom: 24px;
  width: 100%;
  text-align: left !important;
  box-sizing: content-box !important;
  font-family: "Inter-Medium", -apple-system, BlinkMacSystemFont,
    arial, sans-serif !important;
}

.slate-api .slate-profile {
  background-size: cover;
  background-color: transparent;
  background-position: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 12px;
}

.slate-api .slate-profile.a {
  background-image: url("https://archive.org/services/img/SPD-SLRSY-1626");
}

.slate-api .slate-profile.b {
  background-image: url("https://images.unsplash.com/profile-1600790830912-57c474482e09image?auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff");
}

.slate-name {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  display: flex !important;
  text-align: left;
  font-family: "inter-bold", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
}

.slate-dropdown-button {
  background-color: var(--color-bgGray);
  color: var(--color-textBlack);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.slate-dropdown-icon {
  margin-top: 4px;
}

.slate-item {
  width: 100%;
  padding: 8px 8px 8px 16px;
  display: flex;
  gap: 8px;
  color: var(--color-textGrayLight);
  background-color: var(--color-white);
  text-align: left !important;
  border-bottom: 1px solid var(--color-lightBorder);
  cursor: pointer;
}

.slate-name-main {
  margin-top: 6px;
  font-family: "inter-semi-bold", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
}

.slate-item-display {
  display: flex !important;
}

.slate-item-display-hide {
  display: none !important;
}

.slate-item.checked {
  color: var(--color-textBlack);
  background-color: var(--color-bgGrayLight);
}

.slate-item:hover,
.slate-dropdown-button:hover {
  transition: 0.2s;
  color: var(--color-textGrayDark);
}

.slate-menu {
  display: flex !important;
  position: fixed !important;
  bottom: 24px !important;
  right: 0px !important;
  padding: 24px;
}

.slate-menu-top {
  display: flex !important;
  justify-content: flex-end !important;
  box-sizing: border-box !important;
  top: 0px;
  right: 0px;
}

.slate-show-icon {
  display: inline !important;
}

.slate-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: relative;
}

.slate-icon-wrapper:hover {
  cursor: pointer;
  background-color: var(--color-gray50);
  transition: background-color 200ms ease-in-out;
}

.slate-icon-wrapper .slate-icon-large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.slate-list_img {
  margin: auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  height: auto;
  cursor: pointer;
  display: block;
}

.slate-img-container {
  position: relative;
  margin-bottom: 16px;
  height: auto;
  box-sizing: border-box;
}

.slate-img-container.selected {
  border: 2px solid var(--color-blue);
  border-radius: 4px;
}

.slate-img-checkbox {
  box-sizing: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 16;
  left: 16;
}

.slate-custom-checkbox {
  position: absolute;
  left: 16px;
  bottom: 16px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-gray50);
}

.slate-custom-checkbox.checked {
  background: var(--color-blue);
  border-radius: 4px;
  border: none;
  height: 24px;
  width: 24px;
}

.slate-custom-checkbox-icon {
  color: var(--color-white);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  opacity: 0;
}

.slate-custom-checkbox-icon.checked {
  opacity: 1;
  width: 20px;
  height: 20px;
  transition: all 200ms ease-in-out;
}

.slate-list_img.selected {
  border: 2px solid var(--color-white);
  border-radius: 4px;
}

.slate-main-popup {
  width: 75%;
  max-width: 75%;
  left: 0;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  position: absolute;
  background: rgb(255,255,255, 0.8);
  backdrop-filter: blur(20px);
  align-items: normal !important;
}

.slate-action-bar {
  padding: 40px 120px 0px 120px;
  margin-bottom: 32px;
  width: 50%;
  display: none;
}

.slate-result-search-input {
  letter-spacing: -0.0116px;
  -webkit-appearance: none;
  height: 100%;
  background: var(--color-bgGrayLight);
  color: var(--color-textBlack);
  outline: 0;
  border: 0;
  transition: 200ms ease all;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.slate-container input[type="text"]:focus {
  background: var(--color-bgGray);
}

.slate-primary-filter {
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid var(--color-bgGray);
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  margin-bottom: 24px;
  padding-left: 24px;
}

.slate-primary-filter .slate-tab {
  padding: 16px 0;
  height: 100%;
  margin-right: 32px;
  cursor: pointer;
}

.slate-primary-filter .slate-tab.selected {
  border-bottom: 1.5px solid var(--color-textBlack);
}

.slate-primary-filter:last-child {
  margin-right: 0px;
}

.slate-secondary-filter {
  display: flex;
  align-items: center;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  position: relative;
}

.slate-secondary-filter .slate-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0px 12px 8px 16px;
  border-radius: 4px;
  background-color: var(--color-bgGrayLight);
  margin-right: 12px;
  cursor: pointer;
}

.slate-secondary-filter .slate-select-all {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.slate-select-all-checkbox {
  box-sizing: 0;
  opacity: 0;
  display: none;
  width: 1px;
  height: 1px;
  cursor: pointer;
}

.slate-select-all-custom-checkbox {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-gray50);
}

.slate-select-all-custom-checkbox.checked {
  background: var(--color-blue);
  border: none;
}

.slate-select-all-custom-checkbox-icon {
  color: var(--color-white);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  opacity: 0;
}

.slate-select-all-custom-checkbox.checked {
  opacity: 1;
  width: 16px;
  height: 16px;
  transition: all 200ms ease-in-out;
}

.slate-api-group {
  border-radius: 4px;
  width: 100%;
}

.slate-main-popup {
  overflow: scroll;
  height: 100vh;
  padding-bottom: 120px;
}

.slate-file-gallery {
  overflow: scroll;
  max-width: 100vw;
  padding-bottom: 120px;
  padding: 0px 120px 48px 120px;
}

.slate-masonry {
  column-count: 6;
  column-gap: 16px;
  width: 100%;
}

.slate-masonry-item {
  background-color: var(--color-bgGray);
  display: inline-block;
  margin: 0 0 1em;
  min-height: 100px;
  min-width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.slate-alert {
  box-sizing: border-box;
  padding: 12px 24px;
  background-color: rgba(0, 97, 187, 0.1);
  color: var(--color-blue);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% + 48px);
  font-family: "inter-regular", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 400;
  margin: 0 -24px 24px -24px;
  display: none;
}

.slate-error-msg {
  display: none;
  box-sizing: border-box;
  padding: 12px 24px;
  background-color: RGBA(199, 19, 19, 0.1);
  color: var(--color-red);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% + 48px);
  font-family: "inter-regular", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  font-size: 16px !important;
  font-weight: 400;
  margin: 0 -24px 24px -24px;
}

.slate-upload-file-modules {
  width: 100%;
  height: 55%;
  max-height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 24px;
  display: block;
}

.slate-upload-file-module {
  width: 100%;
  overflow: hidden;
  padding: 12px 16px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray20);
  font-size: 16px !important;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
}

.slate-upload-file-module .slate-upload-file {
  min-width: 10%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slate-upload-file-module .slate-upload-cancel {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.slate-upload-file-module:hover .slate-upload-cancel {
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.slate-upload-file .slate-upload-file-name {
  min-width: 10%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px !important;
  font-family: "inter-medium", -apple-system, BlinkMacSystemFont, arial,
    sans-serif !important;
  text-align: left !important;
}

.slate-upload-file .slate-upload-status {
  flex-shrink: 0;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.slate-selected {
  color: #000 !important;
}

.slate-single-image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: auto;
  width: auto !important;
  max-width: 75% !important;
  height: auto !important;
  max-height: 100vh !important;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.slate-single-image-container {
  width: 75% !important;
  max-width: 75% !important;
  height: 75% !important;
  max-height: 75% !important;
  margin: 0 auto;
  display: none;
}

.slate-loaderspinner {
  display: inline-block;
  flex-shrink: 0;
  margin-top: 4px !important;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  border-top-color: var(--color-bgGrayLight);
  animation: slate-client-animation-spin 1s ease-in-out infinite;
}

.slate-icon-position {
  padding-top: 6px !important;
}

.slate-success {
  display: inline-block;
  flex-shrink: 0;
  margin-top: 4px !important;
  color: #006837 !important;
}

.slate-error {
  margin-top: 4px !important;
  color: #c71313 !important;
}

.slate-success-alert {
  background-color: RGBA(0, 104, 55, 0.1) !important;
  color: #006837 !important;
}

.slate-add-link {
  cursor: pointer !important;
}

.slate-loaderspinner {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  border-top-color: var(--color-bgGrayLight);
  animation: slate-client-animation-spin 1s ease-in-out infinite;
}

@keyframes slate-client-animation-spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.slate-masonry {
  column-count: 4 !important;
  display: block !important;
}

@media only screen and (min-width: 1024px) {
  .slate-masonry {
    column-count: 4 !important;
    display: block !important;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slate-masonry {
    column-count: 3 !important;
    align-items: flex-start !important;
    display: block !important;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .slate-masonry {
    column-count: 1 !important;
    display: block !important;
  }
}
