.slate-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999999999 !important;
}

.slate-drawer {
  width: 416px;
  height: 100vh;
  color: var(--color-textBlack);
  right: 0;
  position: relative;
  padding: 24px;
  background: rgba(193, 193, 194, 0.8);
  backdrop-filter: blur(24px);
  flex-shrink: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-text) !important;
}

.slate-dismiss {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.slate-icon-large {
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: var(--color-gray80);
}

.slate-icon-small {
  pointer-events: none;
  width: 16px;
  height: 16px;
  color: var(--color-gray80);
}

.slate-drawer-content {
  height: calc(100% - 32px);
  display: none;
}

.slate-drawer-content.active {
  display: block;
}

.slate-header {
  font-family: var(--font-family-medium) !important;
  font-size: var(--typescale-lvl3) !important;
  margin-bottom: 36px;
}

.slate-apis {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  margin-bottom: 24px;
}

.slate-api {
  margin-bottom: 24px;
  width: 100%;
}

.slate-api .slate-profile {
  background-size: cover;
  background-color: transparent;
  background-position: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 12px;
}

.slate-api .slate-profile.a {
  background-image: url("https://archive.org/services/img/SPD-SLRSY-1626");
}

.slate-api .slate-profile.b {
  background-image: url("https://images.unsplash.com/profile-1600790830912-57c474482e09image?auto=format&fit=crop&w=32&h=32&q=60&crop=faces&bg=fff");
}

.slate-name {
  display: flex;
  align-items: center;
}

.slate-dropdown-button {
  background-color: var(--color-bgGray);
  color: var(--color-textBlack);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-family: var(--font-family-medium) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.slate-dropdown-icon {
  margin-top: 4px;
}

.slate-item {
  width: 100%;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-textGrayLight);
  font-family: var(--font-family-medium) !important;
  background-color: var(--color-white);
}

.slate-item-display {
  display: flex;
}

.slate-item-display-hide {
  display: flex !important;
}

.slate-item.checked {
  color: var(--color-textBlack);
  background-color: var(--color-bgGrayLight);
}

.slate-item:hover,
.slate-dropdown-button:hover {
  transition: 0.2s;
  background-color: var(--color-bgGrayLight);
  color: var(--color-textGrayDark);
  cursor: pointer;
}

.slate-menu {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.slate-menu-top {
  display: flex;
  justify-content: flex-end;
  top: 0px;
  right: 0px;
}

.slate-show-icon {
  display: inline !important;
}

.slate-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: relative;
}

.slate-icon-wrapper:hover {
  cursor: pointer;
  background-color: var(--color-gray50);
  transition: background-color 200ms ease-in-out;
}

.slate-icon-wrapper .slate-icon-large {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.slate-list_img {
  margin: auto;
  max-width: 100%;
  text-align: center;
  height: auto;
  cursor: pointer;
}

.slate-img-container {
  position: relative;
  margin-bottom: 16px;
}

.slate-img-container.selected {
  border: 2px solid var(--color-blue);
  border-radius: 4px;
}

.slate-img-checkbox {
  box-sizing: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 20;
  left: 20;
}

.slate-custom-checkbox {
  position: absolute;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-gray50);
}

.slate-custom-checkbox.checked {
  background: var(--color-blue);
  border: none;
}

.slate-custom-checkbox-icon {
  color: var(--color-white);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  opacity: 0;
}

.slate-custom-checkbox-icon.checked {
  opacity: 1;
  width: 20px;
  height: 20px;
  transition: all 200ms ease-in-out;
}

.slate-list_img.selected {
  border: 2px solid var(--color-white);
  border-radius: 4px;
}

.slate-main-popup {
  width: calc(100vw - 48%);
  height: 100vh;
  padding: 56px 120px 48px 120px;
  position: absolute;
  background: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-white) 46.31%,
    rgba(255, 255, 255, 0.3) 100%
  );
  backdrop-filter: blur(20px);
}

.slate-action-bar {
  margin-bottom: 32px;
}

.slate-result-search-input {
  letter-spacing: -0.011rem;
  -webkit-appearance: none;
  height: 100%;
  background: var(--color-bgGrayLight);
  color: var(--color-textBlack);
  outline: 0;
  border: 0;
  transition: 200ms ease all;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 24px;
}

.slate-container input[type="text"]:focus {
  background: var(--color-bgGray);
}

.slate-primary-filter {
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid var(--color-bgGray);
  font-family: var(--font-family-medium) !important;
  margin-bottom: 24px;
  padding-left: 24px;
}

.slate-primary-filter .slate-tab {
  padding: 16px 0;
  height: 100%;
  margin-right: 32px;
  cursor: pointer;
}

.slate-primary-filter .slate-tab.selected {
  border-bottom: 1.5px solid var(--color-textBlack);
}

.slate-primary-filter:last-child {
  margin-right: 0px;
}

.slate-secondary-filter {
  display: flex;
  align-items: center;
  font-family: var(--font-family-medium) !important;
  position: relative;
}

.slate-secondary-filter .slate-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px 12px 8px 16px;
  border-radius: 4px;
  background-color: var(--color-bgGrayLight);
  margin-right: 12px;
  cursor: pointer;
}

.slate-secondary-filter .slate-select-all {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 0;
}

.slate-select-all-checkbox {
  box-sizing: 0;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.slate-select-all-custom-checkbox {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-gray50);
}

.slate-select-all-custom-checkbox.checked {
  background: var(--color-blue);
  border: none;
}

.slate-select-all-custom-checkbox-icon {
  color: var(--color-white);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  opacity: 0;
}

.slate-select-all-custom-checkbox.checked {
  opacity: 1;
  width: 16px;
  height: 16px;
  transition: all 200ms ease-in-out;
}

.slate-api-group {
  border-radius: 4px;
  width: 100%;
}

.slate-main-popup {
  overflow: scroll;
  height: 100vh;
  padding-bottom: 120px;
}

.slate-file-gallery {
  overflow: scroll;
  height: 100%;
  padding-bottom: 120px;
}

.slate-masonry {
  column-count: 6;
  column-gap: 16px;
  width: 100%;
}

.slate-masonry-item {
  background-color: var(--color-bgGray);
  display: inline-block;
  margin: 0 0 1em;
  min-height: 100px;
  min-width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.slate-alert {
  box-sizing: border-box;
  padding: 12px 24px;
  background-color: rgba(0, 97, 187, 0.1);
  color: var(--color-blue);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% + 48px);
  font-family: var(--font-family-text) !important;
  font-size: var(--typescale-lvl1) !important;
  font-weight: 400;
  cursor: pointer;
  margin: 0 -24px 24px -24px;
}

.slate-upload-file-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 16px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray20);
}

.slate-upload-file-module .slate-upload-file {
  width: 100%;
  min-width: 10%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slate-upload-file-module .slate-upload-cancel {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.slate-upload-file-module:hover .slate-upload-cancel {
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;
}

.slate-upload-file .slate-upload-file-name {
  min-width: 10%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--typescale-lvl0);
  font-family: var(--font-family-medium) !important;
}

.slate-upload-file .slate-upload-status {
  flex-shrink: 0;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.slate-selected {
  font-weight: bold !important;
  color: #000 !important;
}

@media only screen and (min-width: 1024px) {
  .slate-masonry {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slate-masonry {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .slate-masonry {
    column-count: 1;
  }
}
