.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section-wrapper {
  box-sizing: border-box;
  padding: 120px 72px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 192px);
  scroll-snap-align: start;
  background: transparent;

  @media (max-width: var(--size-mobile)) {
    padding: 0;
  }
}

.hero-backdrop {
  background: linear-gradient(180deg, rgba(0, 97, 187, 1) 0%, rgba(196, 196, 196, 0) 100%);
  margin: 0;
  max-width: none;
  color: var(--color-white);
}

.section-wrapper.last {
  height: 100vh;
}

.title {
  font-family: var(--font-family-semiBold);
  font-size: var(--typescale-lvl6);
  font-weight: 400;
  letter-spacing: -0.022rem;
}
.subtitle {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl3);
  font-weight: 400;
  letter-spacing: -0.019rem;
  margin-bottom: 64px;
}
.p {
  font-family: var(--font-family-text);
  font-size: var(--typescale-lvl1);
  font-weight: 400;
  letter-spacing: -0.011rem;
}

.primary-button,
.secondary-button {
  font-family: var(--font-family-semiBold);
  font-size: var(--typescale-lvl0);
  letter-spacing: -0.011rem;
  box-sizing: border-box;
  border-radius: 4px;
  outline: 0;
  border: 0;
  min-height: 40px;
  padding: 4px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 200ms ease all;
  overflow-wrap: break-word;
  user-select: none;
  cursor: pointer;
}

.primary-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  margin: 0 16px 16px 0;
}

.secondary-button {
  background-color: var(--color-bgGray);
  color: var(--color-textBlack);
}

.input {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl0);
  letter-spacing: -0.011rem;
  -webkit-appearance: none;
  width: 416px;
  height: 56px;
  background: var(--color-bgGrayLight);
  color: var(--color-textBlack);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
  margin-bottom: 24px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-textGrayLight);
  opacity: 1; /* Firefox */
}

.helper-button {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-textGray);
  text-decoration: none;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  margin-bottom: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.helper-button.active,
.helper-button:hover {
  color: var(--color-textBlack);
  transition: all 0.2s ease-in-out;
}

a {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-textGray);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.helper-info {
  box-sizing: border-box;
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-textBlack);
  background: var(--color-bgGrayLight);
  width: 416px;
  overflow: hidden;
  max-height: 0;
  padding: 0px 24px;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.helper-info.active {
  max-height: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.column {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.media-type {
  background-image: url("https://slate.textile.io/ipfs/bafybeianxxfv3a2wcfrv7rcevzkuoaj2dzordze6rzvqavwnl5rfet3wyy");
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 320px;
  box-sizing: border-box;
  font-family: var(--font-family-semiBold);
  font-size: var(--typescale-lvl3);
  color: var(--color-white);
  border-radius: 4px;
}

.media-type.images {
  background-image: url("https://slate.textile.io/ipfs/bafybeianxxfv3a2wcfrv7rcevzkuoaj2dzordze6rzvqavwnl5rfet3wyy");
}

.media-type.videos {
  background-image: url("https://slate.textile.io/ipfs/bafybeidnqwt5sea2h7hkycmxrgifamjrpaqx2wkvwzyzl76ibmgqobihla");
}

.media-type.audios {
  background-image: url("https://slate.textile.io/ipfs/bafybeie4qvsyjvdtg5wjpxiekb7m7iufb4sahfupzcoq3v6gxkrjwpuycq");
}

.media-type.more {
  background-image: url("https://slate.textile.io/ipfs/bafybeieqm27mv5p6ywoi3xd3uiuswjxy4a3zqgwkvz7qydbyweduo75u2m");
}

.media-type .explainer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 26.56%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-platform {
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-white);
  cursor: pointer;
}

.test-platform.unsplash {
  background-image: url("https://slate.textile.io/ipfs/bafybeianxxfv3a2wcfrv7rcevzkuoaj2dzordze6rzvqavwnl5rfet3wyy");
}

.test-platform.youtube {
  background-image: url("https://slate.textile.io/ipfs/bafybeieqm27mv5p6ywoi3xd3uiuswjxy4a3zqgwkvz7qydbyweduo75u2m");
}

.test-platform.soundcloud {
  background-image: url("https://slate.textile.io/ipfs/bafybeie4qvsyjvdtg5wjpxiekb7m7iufb4sahfupzcoq3v6gxkrjwpuycq");
}

.test-platform .explainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 120px;
  box-sizing: border-box;
  padding: 32px 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(150, 150, 150, 0.2);
  backdrop-filter: blur(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: max-height 0.2s ease-in-out;
}

.test-platform:hover .explainer,
.explainer:hover {
  max-height: 100%;
  transition: max-height 0.2s ease-in-out;
}

.product-tour-module {
  width: 480px;
  height: 320px;
  box-sizing: border-box;
  box-shadow: 0px 12px 48px 0px rgba(178, 178, 178, 0.3);
  background-color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-bgGray);
  padding: 24px;
}

.product-tour-module .module-header {
  font-family: var(--font-family-semiBold);
  font-size: var(--typescale-lvl2);
  color: var(--color-textBlack);
}

.product-tour-module .module-subheader {
  font-family: var(--font-family-text);
  font-size: var(--typescale-lvl1);
  color: var(--color-textGray);
  margin-bottom: 20px;
}

.product-tour-module .image {
  background-size: cover;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 50%;
  border-radius: 4px;
  margin-bottom: 20px;
  background-image: url("https://slate.textile.io/ipfs/bafybeie4qvsyjvdtg5wjpxiekb7m7iufb4sahfupzcoq3v6gxkrjwpuycq");
}

.product-tour-module .action-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-tour-module .action-line .progress-indicators {
  width: 50%;
  height: 100%;
}

.product-tour-module .action-line .progress-indicators .progress-indicator {
  width: 8px;
  height: 8px;
  background-color: var(--color-bgGray);
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.product-tour-module .action-line .progress-indicators .progress-indicator.selected {
  background-color: var(--color-gray80);
}
