.slate-scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slate-section-wrapper {
  box-sizing: border-box;
  padding: 120px 72px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 192px);
  scroll-snap-align: start;
  background: transparent;

  @media (max-width: var(--size-mobile)) {
    padding: 0;
  }
}

.slate-section-wrapper.last {
  height: 100vh;
}

.slate-title {
  font-family: var(--font-family-semiBold);
  font-size: var(--typescale-lvl5);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.022rem;
}

.slate-subtitle {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl3);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.019rem;
  margin-bottom: 64px;
}

.slate-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.slate-input {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl0);
  line-height: 1.5;
  letter-spacing: -0.011rem;
  -webkit-appearance: none;
  width: 456px;
  height: 56px;
  background: var(--color-bgGrayLight);
  color: var(--color-textBlack);
  outline: 0;
  border: 0;
  box-sizing: border-box;
  transition: 200ms ease all;
  padding: 0 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
}

.slate-icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: relative;
  margin-left: -48px;
  display: none;
}

.slate-icon-wrapper.active:hover {
  cursor: pointer;
  background-color: var(--color-bgGray);
  transition: background-color 200ms ease-in-out;
}

.slate-icon-wrapper.active {
  display: block;
}

.slate-icon-wrapper .slate-icon-eye-off,
.slate-icon-wrapper .slate-icon-eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.slate-icon-wrapper > * {
  pointer-events: none;
}

.slate-input:focus {
  background: var(--color-bgGray);
}

.slate-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-textGrayLight);
  opacity: 1; /* Firefox */
}

.slate-helper-button {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-textGray);
  text-decoration: none;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  margin-bottom: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.slate-helper-button.active,
.slate-helper-button:hover {
  color: var(--color-textBlack);
  transition: all 0.2s ease-in-out;
}

.slate-link {
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  color: var(--color-textGray);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.slate-helper-info {
  box-sizing: border-box;
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-textBlack);
  background: var(--color-bgGrayLight);
  width: 416px;
  overflow: hidden;
  max-height: 0;
  padding: 0px 24px;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.slate-helper-info.active {
  max-height: 100%;
  padding: 16px 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.slate-info {
  margin-right: 8px;
  width: 20px;
}

.slate-column {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.slate-test-platform {
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 400px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--font-family-medium);
  font-size: var(--typescale-lvl1);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-white);
  cursor: pointer;
}

.slate-test-platform.unsplash {
  background-image: url("https://slate.textile.io/ipfs/bafybeianxxfv3a2wcfrv7rcevzkuoaj2dzordze6rzvqavwnl5rfet3wyy");
}

.slate-test-platform.youtube {
  background-image: url("https://slate.textile.io/ipfs/bafybeieqm27mv5p6ywoi3xd3uiuswjxy4a3zqgwkvz7qydbyweduo75u2m");
}

.slate-test-platform.soundcloud {
  background-image: url("https://slate.textile.io/ipfs/bafybeie4qvsyjvdtg5wjpxiekb7m7iufb4sahfupzcoq3v6gxkrjwpuycq");
}

.slate-test-platform .slate-explainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 120px;
  box-sizing: border-box;
  padding: 32px 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(150, 150, 150, 0.2);
  backdrop-filter: blur(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: max-height 0.2s ease-in-out;
}

.slate-test-platform:hover .slate-explainer,
.slate-explainer:hover {
  max-height: 100%;
  transition: max-height 0.2s ease-in-out;
}
