@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --white: #FFFFFF;
  --foreground: #F8F8F8;
  --border: #D8D8D8;
  --darkgrey: #666666;
  --black: #0F0E12;
  --brand: #0666BB;
  --link: #2935FF;
  --green: #377749;
  --red: #BE5234;
}

[data-theme="dark"] {
  --white: #FFFFFF;
  --foreground: #F8F8F8;
  --border: #D8D8D8;
  --black: #0F0E12;
  --brand: #0666BB;
  --link: #2935FF;
  --green: #377749;
  --red: #BE5234;
}
